$spotify-green: #1db954;

.title-container {
    text-align: center;
    margin: 0 0 0 0;
}

.title {
    text-align: center;
    color: $spotify-green;
    margin-bottom: 0;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-top: 20px;
    font-weight: 400;
}

//Die drei ??? Kids