@use 'sass:color';
$text-color: #fff;

.tagline {
    display: flex;
    font-size: 1.5rem;
    color: color.adjust($text-color, $lightness: 20%);
    margin-bottom: 2rem;
    font-weight: 300;
    align-items: center;
    text-align: center;
}

:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}